
.slideContainer{
    width: 100%;
    overflow: hidden;
    z-index: 1;

    .slide{
        position: absolute;
        justify-content: center;
        display: flex;
        height: 90%;        
        width: 100%;
        
        img{
            position: absolute;
            width: 100%;
            height: 90%;
            object-fit: cover
        }
    }
    .labelSeeMore{
        span{
            font-size: 1.5rem
        }
    }
}
.eachSlide{

    div{
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center center;
        height: 80vh;
    }

    .labelSeeMore {
        
        position: absolute;
        background-color: transparent;
        
        top: 90vh;        

        color: #fff;

        transition: all 0.25s ease-in-out;

        &:hover {
            transform: scale(1.05);
            text-shadow: #000 0px 0px 10px;
        }
    }
  }
  
  @media screen and (max-width: 425px){
    .eachSlide{
        div{
            height: 30vh;
        }
    }
  }

  @media screen and (min-width: 425px) and (max-width: 768px){
    .eachSlide{

        div{
            height: 60vh;
        }
    }
  }